#node-notifications-messages {
  position: fixed;
  top: 30px;
  right: 30px;  
  z-index: 9999;
}
#node-notifications-messages .node-notifications-message {
  float: right;
  clear: both;
  position: relative;
  display: none;
  padding-right: 20px;
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  -khtml-border-radius: 5px; /* KHTML */
  border-radius: 5px; /* CSS3 */
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  width: 180px;
  font-size: 12px;
}

#node-notifications-messages .node-notifications-message:hover {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.node-notifications-close {
  position: absolute;
  top: 3px;
  right: 3px;
  line-height: 10px;
  padding: 2px;
  font-style: normal;
  color: black;
  font-family: verdana;
  font-size: 12px;
  cursor: pointer;
}
.node-notifications-more {
  text-align: right;
}

#node-notifications-panel{
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  height: 100%;
  background: white;
  border-left: 1px solid #CCC;
  z-index: 9999;
  /*overflow-y: auto;*/
  width: 300px;
}

#node-notifications-panel-inner{
  overflow-y: auto;
  height: 100%;
}

.node-notifications-panel-toggle {
  position: absolute;
  left: -21px;
  width: 20px;
  height: 44px;
  top: 100px;
  z-index: 100;
  display: block;
  background: url(img/toggle.jpg) no-repeat -4px 50% white;
  border: 1px solid #CCC;
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px; /* Firefox */
  -webkit-border-radius: 4px 0 0 4px; /* Safari, Chrome */
  -khtml-border-radius: 4px 0 0 4px; /* KHTML */
}